.keyboard-key {
    height: 5rem;    
  }
  
  .black {
    background-color: black;
    width: 1.5rem;   
    height: 6rem;    
    padding-top: 2rem;    
    position: absolute;
    margin-left: -1rem;
      
  }
  .white {
    background-color: white;
    width: 2rem;
    height: 8rem;    
  }